<form class="d-flex" #repositoryform='ngForm' id="form">
  <input [(ngModel)]="searchText"  name="text" class="form-control me-2" type="search" placeholder="search repo by username" aria-label="Search">
  <button class="btn btn-outline-success"  (click)="searchRepositories()">Search</button>
</form>

<div *ngFor="let repository of repositories;let i =index">
  <div class="container">
 <div class="row">
  <div class = "col-md-4"id="view-btn" >
    <h2>USER REPOSITORIES</h2>
    <hr>
    <h3>{{repository.name}}</h3>
    <p>{{repository.description}}</p>
    <a class = "btn btn-dark" href = {{repository.html_url}}>View Repo</a>
</div>
 </div>
  </div>
  
</div>

