#navbar{
    background-color: #081829;
    padding: 10px;
    margin-bottom:2%;
    
    
}
 #navbar ul li a:hover {
    background-color: white;
    color: crimson;
    box-shadow: 0 0 10px black;
 }
 
 #navbar a{
     color: white;
     
 }
 #navbar a:hover{
    background-color: white;
    color: crimson;
    box-shadow: 0 0 10px black;
 }