<div><nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">GitHub Search</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-item nav-link active" routerLink="user">Search User</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/repository">Search Repository</a>
          </li>
          
        </ul>
        <form class="d-flex" #userform='ngForm'>
          <input [(ngModel)]="searchText"  name="searchText" class="form-control me-2" type="search" placeholder="enter username" aria-label="Search">
          <button class="btn btn-outline-success"  (click)="searchUser()">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <div *ngIf="searchResult">
    
    
    <div class ="container">
      <div class = "row">
          <div class ="col-md-7">
              <img id = "avatar" [src]='searchResult.avatar_url'>
          </div>
          <div class = "col-md-5">
            <h3>Name: {{searchResult.login}}</h3><br>
            <h4>Username: {{searchResult.login}}</h4>
            <p>Followers: {{followers.length}}</p>
            <p>Following: {{following.length}}</p>
            
 </div> 
  </div>
</div>

</div>